ipykernel
pandas
dotenv
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn
imblearn
catboost
pymongo[srv]==3.12
from_root
evidently==0.2.8
dill
PyYAML
neuro_mf
boto3
botocore
mypy-boto3-s3
fastapi
uvicorn
jinja2
python-multipart
-e .